@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "variables";
@import "fonts";
@import "header";
//<!-- pattern --!>
.pattern__title {
  font-family: 'Cormorant SC', serif;
  font-size: 42px;
  text-align: center;
  @media (max-width: 1025px) {
    font-size: 30px;
  }
  @media (max-width: 767px) {
    font-size: 20px;

  }


}

.pattern__btn {
  width: 287px;
  height: 65px;
  color: #ffffff;
  filter: drop-shadow(0px 2px 20px rgba(91, 194, 42, 0.58));
  background: #5BC22A;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  padding: 0 50px;
  transition: ease-in-out all 0.3s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;

  &:hover {
    opacity: 0.7;
  }

}


//<!-- /pattern --!>

.wrapper {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.content {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  @media (max-width: 1023px) {
    max-width: 768px;
  }
  @media (max-width: 767px) {
    max-width: 320px;


  }

}

.block {
  margin: 0 auto;
}

.block-tl {
  background: #2e2d2d;
  color: #ffffff;
  z-index: 10;
  @media (max-width: 767px) {
    overflow: hidden;

  }
}

.tl__column {
  padding-top: 190px;
  display: flex;
  flex-flow: column;
  position: relative;
  min-height: 715px;
  @media (max-width: 767px) {
    align-items: center;
    padding-top: 50px;
    min-height: 480px;
    justify-content: flex-start;

  }


  &::after {
    position: absolute;
    bottom: 0;
    right: -34.0%;
    content: '';
    display: block;
    width: 1409px;
    height: 939px;
    background: url(../img/2.content/bg-regression.png) center no-repeat;
    background-size: contain;
    clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 55% 100%);
    @media (max-width: 1023px) {
      right: -79%;

    }
    @media (max-width: 767px) {
      clip-path: polygon(0 39%, 100% 64%, 100% 100%, 0 100%);
      width: 320px;
      right: -7%;
      top: 47%;
      height: 300px;


    }
  }

}

.tl__subtitle {
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 2px;
  @media (max-width: 1025px) {
    font-size: 18px;
  }
  @media (max-width: 767px) {
    font-size: 13px;
    text-align: center;


  }


}

.tl__title {
  margin-top: 15px;
  font-family: 'Cormorant SC', serif;
  font-size: 80px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;

  & span {
    color: #ffa950;
  }

  @media (max-width: 1025px) {
    font-size: 58px;
  }
  @media (max-width: 767px) {
    font-size: 32px;
    text-align: center;

  }

}

.tl__under-title {
  font-family: 'Cormorant SC', serif;
  font-size: 44px;

  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  @media (max-width: 1025px) {
    font-size: 32px;
  }
  @media (max-width: 767px) {

    font-size: 18px;
    text-align: center;
  }
}

.tl__text {
  font-size: 25px;
  margin-top: 20px;
  width: 50%;
  font-weight: 100;
  @media (max-width: 1025px) {
    font-size: 18px;
  }
  @media (max-width: 767px) {
    width: 100%;
    text-align: center;

  }
}

.tl__btn {
  margin-top: 40px;
  margin-bottom: 240px;
  @media (max-width: 767px) {
    font-size: 14px;
    width: 164px;
    height: 45px;
    padding: 0 10px;
    margin-top: 20px;
    margin-bottom: 0;

  }
}


.wrapper-tl_img {
  height: 715px;
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: -23.5%;
  @media (max-width: 1025px) {
    right: -22%;
  }
  @media (max-width: 1023px) {
    right: -60%;

  }
  @media (max-width: 767px) {
    right: 1%;
    top: 66%;
    width: 180px;
    height: 192px;

  }
}

.tl__first-tablet {
  width: 253px;
  height: 62px;
  font-size: 23px;
  background: #464545;
  -webkit-mask: url(../../assets/img/2.content/tl_tablet.svg) center no-repeat;
  -webkit-mask-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -50px;
  bottom: 160px;
  z-index: 10;
  @media (max-width: 767px) {
    display: none;

  }
}

.tl__second-tablet {
  width: 263px;
  color: #555252;
  height: 62px;
  font-size: 15px;
  background: #ffffff;
  -webkit-mask: url(../../assets/img/2.content/tl_tablet.svg) center no-repeat;
  -webkit-mask-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: -40px;
  bottom: 111px;
  @media (max-width: 767px) {
    display: none;

  }

  & p {
    width: 70%;
  }
}

.tl__img {
  width: 100%;
}

.block-description-white {

  position: relative;

  &:before {
    content: "";
    background: url("../../assets/img/2.content/background_a.png") no-repeat center;
    background-size: contain;
    width: 736px;
    height: 781px;
    position: absolute;
    left: -190px;
    bottom: 100px;
    opacity: 0.15;
    clip-path: polygon(26% 0, 100% 0, 100% 100%, 26% 100%);
    @media (max-width: 767px) {
      width: 162px;
      height: 172px;
      bottom: unset;
      clip-path: polygon(38% 35%, 100% 35%, 100% 100%, 38% 100%);
      top: -60px;
      left: 155px;
    }


  }

}

.block-description-black {
  overflow: hidden;
  position: relative;
  background: #2e2d2d;

  &:before {
    content: "";
    background: url("../../assets/img/2.content/background_a.png") no-repeat center;
    background-size: contain;
    width: 1235px;
    height: 1235px;
    position: absolute;
    right: 0;
    bottom: -20px;
    @media (max-width: 1440px) {
      right: -30%;
    }
    @media (max-width: 1025px) {
      width: 900px;
      height: 900px;
      right: -35%;

    }
    @media (max-width: 767px) {
      width: 272px;
      height: 289px;
      right: 155px;
      bottom: unset;
      top: -98px;
      clip-path: polygon(0 34%, 76% 34%, 76% 100%, 0 100%);

    }


  }

}


.description-column {
  padding: 71px 0 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
  @media (max-width: 767px) {
    width: 100%;
    padding-top: 30px;


  }


}


.description-element {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;


}

.description-element_mb {
  margin-bottom: 160px;

}

.description-element_w {
  margin-bottom: 70px;
  @media (max-width: 767px) {

    margin-bottom: 30px;
  }
}

.description-column_w {
  padding: 140px 0 0 0;
  color: #ffffff;
  @media (max-width: 767px) {
    padding-top: 80px;

  }


}


.description-element__title {
  line-height: 0.3;
  border-bottom: 14px solid rgba(255, 167, 81, 0.43);

  align-self: center;
  @media (max-width: 767px) {
    line-height: 0.7;

    border-bottom: 5px solid rgba(255, 167, 81, 0.43);
  }


}

.description-element__title_w {
  margin-top: 10px;
}

.description-element__text {
  margin: 38px 0 85px 0;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  @media (max-width: 1025px) {
    font-size: 15px;
    line-height: 21px;
    margin: 30px 0 60px;
  }
  @media (max-width: 767px) {
    font-size: 10px;
    line-height: 14px;
    margin: 10px 0 30px;
  }


}

.wrapper-description-table {

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 17px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  position: absolute;
  bottom: -44px;
  background: #ffffff;
  z-index: 5;
  padding: 3px;
  @media (max-width: 1025px) {
    height: 150px;
    width: 80%;
  }
  @media (max-width: 1025px) {
    height: unset;
  }
  @media (max-width: 767px) {
    width: 100%;
  }

}

.description-table {
  padding: 15px 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 30px;
  border: 1px solid rgba(147, 142, 138, 0.23);
  border-radius: 3px;
  position: relative;
  align-items: center;
  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    padding: 30px 45px;

  }
  @media (max-width: 767px) {
    padding: 10px 20px;

  }


}

.description-table__element {
  font-size: 18px;


  & p {
    position: relative;
  }

  & p::before {
    content: "";
    background: url("../../assets/img/2.content/description_list.svg") no-repeat center;
    background-size: contain;
    width: 16px;
    height: 11px;
    position: absolute;
    left: -20px;
    top: 5px;
    @media (max-width: 767px) {
      width: 7px;
      height: 5px;

    }
  }

  @media (max-width: 1025px) {
    font-size: 13px;
    line-height: 18px;
  }
  @media (max-width: 767px) {
    font-size: 10px;
    line-height: 14px;
    margin-left: 20px;


  }
}

.block-appeal {
  overflow: hidden;
}

.appeal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 140px 0 200px 0;
  position: relative;


  &::after {
    position: absolute;
    bottom: 0;
    right: -34.0%;
    content: '';
    display: block;
    width: 1041px;
    height: 679px;
    background: url(../img/2.content/bg_appeal.png) center no-repeat;
    background-size: cover;
    clip-path: polygon(53% 0, 100% 0%, 100% 100%, 19% 100%);
    z-index: -1;
  }

  @media (max-width: 1025px) {
    padding: 116px 0 135px;
    &:after {
      right: -5%;
      bottom: -1%;
      width: 753px;
      height: 540px;

    }

  }
  @media (max-width: 1023px) {
    &:after {
      right: -23%;
      height: 630px;
    }
  }
  @media (max-width: 767px) {
    padding: 10px 0 210px;
    &:after {
      width: 320px;
      right: -7%;
      background-size: contain;
      clip-path: polygon(0 56%, 100% 34%, 100% 100%, 0 100%);
      bottom: unset;
      top: -5%;
    }

  }

}

.appeal-column {
  font-size: 20px;
  width: 60%;
  line-height: 28px;

  & p {
    margin-top: 15px;
  }

  @media (max-width: 1025px) {
    font-size: 15px;
    line-height: 21px;
    margin-top: 20px;
    width: 50%;
  }
  @media (max-width: 767px) {
    width: 100%;
    font-size: 9px;
    line-height: 12px;

  }


}

.wrapper-appeal__img {
  width: 834px;
  position: absolute;
  right: -34%;
  top: 10%;
  @media (max-width: 1025px) {
    width: 603px;
    height: 419px;
    right: -5%;

  }
  @media (max-width: 1023px) {
    width: 650px;
    top: 15%;
    right: -28%;

  }
  @media (max-width: 767px) {
    width: 250px;
    top: 51%;
    right: -7%;


  }
}

.block-schedule {
  background: #2e2d2d;
}

.schedule-column {
  color: #ffffff;
  padding: 100px 0 120px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 1025px) {
    padding: 85px 0 90px;
  }
  @media (max-width: 767px) {
    padding: 30px 0 40px;


  }

}

.schedule-day {
  background: #ffffff;
  width: 70%;
  box-shadow: 0 2px 17px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  margin-top: 70px;
  @media (max-width: 1025px) {
    margin-top: 40px;
    width: 60%;
  }
  @media (max-width: 767px) {
    margin-top: 20px;
    width: 100%;
    height: 70px;

  }

}

.schedule-day__row {
  background: #ffffff;
  color: #000000;
  padding: 30px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 99%;
  height: 95%;
  border-radius: 3px;
  border: 1px solid rgba(147, 142, 138, 0.23);
  @media (max-width: 1025px) {
    padding: 10px 30px;
  }
  @media (max-width: 767px) {
    padding: 5px 10px;


  }

}

.schedule-day__date {
  font-size: 18px;
  border-right: 1px solid #E2E2E2;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding: 0 25px 0 10px;
  @media (max-width: 1025px) {
    font-size: 13px;

  }
  @media (max-width: 767px) {
    font-size: 9px;
    padding: 0 15px 0 0;

  }

  & span {
    color: #5BC22A;
    font-size: 60px;
    font-weight: 700;
    @media (max-width: 1025px) {
      font-size: 44px;
    }
    @media (max-width: 767px) {

      font-size: 28px;
    }
  }
}

.schedule-day__info {
  padding-left: 27px;
  font-size: 18px;
  display: flex;
  flex-flow: column;
  line-height: 25px;

  & span {
    color: #FFA751;
    font-weight: 600;
    margin-top: 10px;
  }

  @media (max-width: 1025px) {
    font-size: 13px;
    line-height: 18px;

  }
  @media (max-width: 767px) {
    font-size: 8px;
    line-height: 11px;
    padding-left: 15px;

  }
}

.schedule-text {
  margin-top: 38px;
  font-size: 20px;
  @media (max-width: 1025px) {
    font-size: 14px;
  }
  @media (max-width: 767px) {
    margin-top: 16px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    width: 70%;


  }
}

.schedule-btn {
  margin-top: 38px;
  @media (max-width: 1025px) {
    margin-top: 25px;
  }
  @media (max-width: 767px) {
    margin-top: 16px;
    width: 65%;
    font-size: 12px;
    height: 45px;

  }

}

.schedule-subtitle {
  margin-top: 100px;
  @media (max-width: 1025px) {
    margin-top: 70px;

  }
  @media (max-width: 767px) {
    margin-top: 20px;

  }
}

.schedule-calendar__row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
  @media (max-width: 1025px) {
    margin-top: 35px;

  }
  @media (max-width: 767px) {
    flex-flow: column;
    margin-top: 20px;
    align-items: center;

  }
}


.wrapper-calendar__img {
  width: 450px;
  height: 450px;
  position: relative;
  @media (max-width: 769px) {
    width: 240px;
    height: 240px;
  }

}

.schedule-calendar__text-part {
  margin-left: 70px;
  @media (max-width: 767px) {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 0;


  }
}

.schedule-calendar__list {
  font-size: 20px;
  @media (max-width: 1025px) {
    font-size: 15px;
  }
  @media (max-width: 767px) {
    font-size: 10px;

  }

  & p {
    margin-top: 10px;
    position: relative;
    @media (max-width: 767px) {
      margin-top: 7px;
      margin-left: 30px;


    }
  }

  & .schedule-calendar__list-item::before {
    content: "";
    background: url("../../assets/img/2.content/description_list.svg") no-repeat center;
    background-size: contain;
    width: 16px;
    height: 11px;
    position: absolute;
    left: -35px;
    top: 5px;
    @media (max-width: 767px) {
      width: 7px;
      height: 5px;
      left: -13px;
      top: 4px;


    }
  }

}

.schedule-calendar__cost {
  margin-top: 45px;
  font-size: 50px;
  margin-left: 20px;
  @media (max-width: 1025px) {
    font-size: 36px;
    margin-top: 30px;
    margin-left: 0;
  }
  @media (max-width: 767px) {
    font-size: 35px;
    margin-top: 13px;

  }
}

.schedule-calendar__btn {
  margin-top: 57px;
  width: 360px;
  @media (max-width: 767px) {
    width: 65%;
    margin-top: 20px;
    font-size: 12px;
    height: 45px;
    align-self: center;
    padding: 0 20px;


  }
}

.gifts-column {
  background: #ffffff;
  padding: 100px 0 120px;
  @media (max-width: 1025px) {
    padding: 75px 0 85px;
  }
  @media (max-width: 767px) {
    padding: 25px 0 35px;

  }
}

.gifts-table {
  margin-top: 80px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 20px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1025px) {
    gap: 70px 70px;

  }
  @media (max-width: 767px) {
    margin-top: 30px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 30px;

  }

}

.gifts-table__element {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 310px;
  width: 100%;
  text-align: center;
}

.wrapper-gifts__img {
  width: 119px;
  height: 119px;
  @media (max-width: 1025px) {
    width: 86px;
    height: 86px;
  }
  @media (max-width: 767px) {
    width: 62px;
    height: 62px;
  }
}

.gifts-text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  @media (max-width: 1025px) {
    font-size: 14px;
  }
  @media (max-width: 767px) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    font-size: 10px;
    margin-top: 14px;
  }
}

.gifts-subtext {
  margin-top: 15px;
  font-size: 20px;
  @media (max-width: 1025px) {
    font-size: 14px;
  }
  @media (max-width: 767px) {
    font-size: 9px;
    line-height: 10px;
    margin-top: 9px;


  }
}

.gifts-img {

  -webkit-mask: url(../../assets/img/2.content/gifts_1.svg) no-repeat center;
  -webkit-mask-size: contain;
  background: #5BC22A;
  width: 119px;
  height: 119px;
  @media (max-width: 1025px) {
    width: 86px;
    height: 86px;
  }
  @media (max-width: 767px) {
    width: 62px;
    height: 62px;

  }
}

.gifts-img_2 {
  -webkit-mask: url(../../assets/img/2.content/gifts_2.svg) no-repeat center;
  -webkit-mask-size: contain;
}

.gifts-img_3 {
  -webkit-mask: url(../../assets/img/2.content/gifts_3.svg) no-repeat center;
  -webkit-mask-size: contain;
}

.gifts-img_4 {
  -webkit-mask: url(../../assets/img/2.content/gifts_4.svg) no-repeat center;
  -webkit-mask-size: contain;
}

.gifts-img_5 {
  -webkit-mask: url(../../assets/img/2.content/gifts_5.svg) no-repeat center;
  -webkit-mask-size: contain;
}

.gifts-img_6 {
  -webkit-mask: url(../../assets/img/2.content/gifts_6.svg) no-repeat center;
  -webkit-mask-size: contain;
}

.gifts-img_7 {
  -webkit-mask: url(../../assets/img/2.content/gifts_7.svg) no-repeat center;
  -webkit-mask-size: contain;
}

.gifts-img_8 {
  -webkit-mask: url(../../assets/img/2.content/gifts_8.svg) no-repeat center;
  -webkit-mask-size: contain;
}

.gifts-img_9 {
  -webkit-mask: url(../../assets/img/2.content/gifts_9.svg) no-repeat center;
  -webkit-mask-size: contain;
}

.block-article {
  background: #2e2d2d;
  overflow: hidden;

}

.article-column {
  padding: 120px 0 150px 0;
  text-align: left;
  color: #ffffff;
  display: flex;
  flex-flow: column;
  position: relative;
  @media (max-width: 1025px) {
    padding: 100px 0 65px;
  }
  @media (max-width: 767px) {
    padding: 26px 0 220px;


  }


  &::after {
    position: absolute;
    bottom: 0;
    right: -390px;
    content: '';
    display: block;
    width: 1041px;
    height: 100%;
    background: url(../img/2.content/bg_article.png) center no-repeat;
    background-size: cover;
    clip-path: polygon(31% 0, 100% 0%, 100% 100%, 53% 100%);
    z-index: 0;
    @media (max-width: 1025px) {
      width: 800px;
      height: 567px;
      right: -14%;
    }
    @media (max-width: 1023px) {
      right: -45%;
      top: 0;
      width: 1041px;
      height: 100%;

    }
    @media (max-width: 767px) {
      background-size: contain;
      width: 320px;
      height: 400px;
      clip-path: polygon(0 34%, 100% 54%, 100% 80%, 0 80%);
      right: -7%;
      top: 41%;


    }
  }

}

.article-title {
  font-size: 79px;
  color: #FFA751;
  text-align: left;
  @media (max-width: 767px) {
    font-size: 32px;

  }
}

.article-subtitle {
  margin-top: 20px;
  font-size: 25px;
  line-height: 28px;
  font-weight: 100;
  @media (max-width: 1025px) {
    font-size: 18px;
    margin-top: 15px;
  }
  @media (max-width: 767px) {
    font-size: 11px;
    margin-top: 8px;

  }

}

.article-text {
  width: 50%;
  margin-top: 10px;
  font-weight: 200;
  @media (max-width: 767px) {
    width: 100%;
    margin-top: 0;

  }

  & p {
    margin-top: 25px;
    font-size: 20px;
    line-height: 28px;
    @media (max-width: 1025px) {
      font-size: 15px;
      line-height: 21px;
      margin-top: 15px;
    }
    @media (max-width: 767px) {
      font-size: 10px;
      line-height: 14px;
      margin-top: 10px;

    }

  }

  & span {
    color: #FFA751;
  }
}

.wrapper-article__img {
  width: 605px;
  position: absolute;
  bottom: -115px;
  right: -203px;
  //bottom: -13%;
  //right: -17.9%;
  z-index: 3;
  @media (max-width: 1025px) {
    bottom: -12%;
    right: 0.7%;
    width: 460px;
    height: 540px;
    @media (max-width: 1023px) {
      bottom: -20%;
      right: -19.0%;
      width: 600px;
      height: 700px;

    }
    @media (max-width: 767px) {
      width: 202px;
      height: 300px;
      right: 13%;
      top: 61%;
      bottom: unset;


    }

  }

}

.teaching-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 90px 0 135px;
  position: relative;
  @media (max-width: 1025px) {
    padding: 60px 0 40px;

  }
  @media (max-width: 767px) {
    padding: 20px 0 25px;

  }

}

.teaching-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 120px 60px;
  @media (max-width: 767px) {
    margin-top: 25px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 40% 30% 20%;
    gap: 15px;
    align-items: start;
    margin-bottom: 50px;


  }
}


.wrapper-teaching-tablet {
  position: relative;

  &::before {
    content: "";
    background-size: contain;
    z-index: 5;
    position: absolute;

  }

  &::after {
    content: "";
    -webkit-mask-size: contain;
    background: #5BC22A;
    position: absolute;
    z-index: -1;
  }
}

.wrapper-teaching-tablet_1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  @media (max-width: 767px) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;


  }

  &:before {
    background: url("../../assets/img/2.content/teaching-tablet_1.png") center no-repeat;
    background-size: contain;
    width: 350px;
    height: 372px;
    top: 114px;
    right: -210px;
    @media (max-width: 1025px) {
      width: 300px;
      height: 300px;
      right: -190px;
    }
    @media (max-width: 767px) {
      width: 89px;
      height: 94px;
      right: 10px;
      top: -26px;

    }

  }

  &::after {
    -webkit-mask: url(../../assets/img/2.content/teaching_vector_1.svg) no-repeat center;
    -webkit-mask-size: contain;
    width: 896px;
    height: 668px;
    top: 135px;
    left: 75px;
    @media (max-width: 1025px) {
      width: 679px;
      height: 507px;

    }
    @media (max-width: 767px) {
      display: none;

    }

  }
}

.wrapper-teaching-tablet_2 {
  margin-top: 40px;
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  @media (max-width: 767px) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-top: 20px;


  }

  &:before {
    background: url("../../assets/img/2.content/teaching-tablet_2.png") center no-repeat;
    background-size: contain;
    width: 519px;
    height: 431px;
    top: 90px;
    right: unset;
    left: -400px;
    @media (max-width: 1025px) {

      width: 390px;
      height: 325px;
      left: -300px;
    }
    @media (max-width: 767px) {
      width: 87px;
      height: 72px;
      left: unset;
      right: 7px;
      top: -21px;

    }


  }

  &::after {
    -webkit-mask: url(../../assets/img/2.content/teaching_vector_2.svg) no-repeat center;
    -webkit-mask-size: contain;
    width: 400px;
    height: 512px;
    top: 230px;
    left: 25px;
    @media (max-width: 1025px) {
      width: 303px;
      height: 390px;
    }
    @media (max-width: 767px) {
      display: none;

    }

  }
}

.wrapper-teaching-tablet_3 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  @media (max-width: 767px) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;


  }

  &:before {
    background: url("../../assets/img/2.content/teaching-tablet_3.png") center no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    top: 150px;
    right: -300px;
    @media (max-width: 1025px) {
      width: 212px;
      height: 150px;
      right: unset;
      left: 390px;
      top: 110px;

    }
    @media (max-width: 767px) {
      width: 80px;
      height: 63px;
      top: -25px;
      left: unset;
      right: 15px;



    }

  }

}

.teaching-tablet__btn {
  border-radius: 50%;
  background: rgba(91, 194, 42, 0.2);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  cursor: pointer;
  transition: all ease-in-out 0.3s;
  z-index: 10;


  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 767px) {
    display: none;

  }
}

.teaching-tablet__btn_1 {
  right: 41%;
  top: 15%;
  @media (max-width: 1025px) {
    right: 46%;
    top: 16.5%;
  }
  @media (max-width: 1023px) {
    right: 27%;
    top: 14.5%;
  }

}

.teaching-tablet__btn-ellipse {
  border-radius: 50%;
  background: #5BC22A;
  height: 22px;
  width: 22px;

}

.teaching-tablet__btn_2 {
  left: 43%;
  top: 45%;
  @media (max-width: 1025px) {
    top: 45%;
  }
  @media (max-width: 1023px) {
    top: 41%;


  }

}

.teaching-tablet__btn_3 {
  top: 74%;
  right: 43%;
  @media (max-width: 1025px) {
    top: 78.5%;
    right: 42%;
  }
  @media (max-width: 1023px) {
    top: 72.5%;
    right: 40%;

  }
}

.teaching-tablet {
  padding: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: (0px 15px 17px rgba(0, 0, 0, 0.18));
  background: #FFFFFF;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 20px 12px;
    align-items: flex-start;

  }


  &::before {
    content: "";
    background: transparent;
    background-size: cover;

    border-radius: 0 0 50% 50%;
    width: 55px;
    height: 55px;
    position: absolute;
    top: -30px;
    right: calc((100% - 55px) / 2);
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.05);
    @media (max-width: 767px) {
      width: 25px;
      height: 25px;
      right: calc((100% - 25px) / 2);
      top: -12px;

    }

  }
}

.teaching-tablet__title {
  font-size: 25px;
  line-height: 35px;
  font-weight: 600;
  @media (max-width: 1025px) {
    font-size: 18px;
    line-height: 25px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;
    width: 65%;
    font-weight: 400;

  }
}

.teaching-tablet__text {
  font-size: 18px;
  line-height: 25px;
  @media (max-width: 1025px) {
    font-size: 13px;
    line-height: 20px;

  }
  @media (max-width: 767px) {
    font-size: 10px;
    line-height: 14px;

  }

  & p {
    margin-top: 15px;
    @media (max-width: 1025px) {
      margin-top: 10px;
    }
  }
}

.teaching-label {
  font-size: 18px;
  color: #555252;
  @media (max-width: 1025px) {
    font-size: 13px;
  }
  @media (max-width: 767px) {
    font-size: 10px;
    line-height: 14px;
    text-align: center;

  }
}

.block-certificate {
  padding: 100px 0 0;
  background: #2e2d2d;
  @media (max-width: 767px) {
    padding: 22px 0 0;

  }
}

.certificate-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: url("../../assets/img/2.content/background_a.png") bottom no-repeat;
  background-size: contain;
  padding: 0 0 120px;
  @media (max-width: 767px) {
    padding: 0 0 20px;
    background: url("../../assets/img/2.content/background_a.png") top no-repeat;
background-size: 150%;

  }
}

.certificate-title {
  color: #FFFFFF;
  width: 65%;
  @media (max-width: 767px) {
    width: 100%;

  }
}

.wrapper-certificate__img {
  width: 571px;
  height: 808px;
  margin-top: 50px;
  @media (max-width: 767px) {

    width: 280px;
    height: 400px;
    margin-top: 20px;
  }
}


//@import "slider";
@import "footer";
@import "popups";

//Special classes
.dn {
  display: none;
}
